<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<bean class="org.not_imp.sameer.RectangleBeanPPFactory"></bean>
	<bean class="org.not_imp.sameer.RectanglePostProcessor"></bean>

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor">
	</bean>

	<bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor">
	</bean>



	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>rectangleMessage</value>
			</list>
		</property>
	</bean>

	<context:component-scan base-package="org.not_imp.sameer"></context:component-scan>

	<bean id="D1" class="org.not_imp.sameer.Point" scope="singleton" 
		autowire="byName">
		<qualifier value="DiagonalPoint1"></qualifier>
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>

	<bean id="D2" class="org.not_imp.sameer.Point" scope="singleton"
		autowire="byName">
		<qualifier value="DiagonalPoint2"></qualifier>
		<property name="x" value="10"></property>
		<property name="y" value="10"></property>
	</bean>

	<!-- <bean id="diagonalBean" class="org.not_imp.sameer.Diagonal" scope="singleton"> -->
	<!-- <constructor-arg name="d1" ref="D1"></constructor-arg> -->
	<!-- <constructor-arg name="d2" ref="D2"></constructor-arg> -->
	<!-- </bean> -->

	<bean name="rectangle" class="org.not_imp.sameer.Rectangle">
		<property name="l" value="10"></property>
		<property name="b" value="5"></property>
	</bean>

	<alias name="rectangle" alias="aka_parallelogram" />

</beans>